* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
    width: 100vw;
    height: 100vh;
}

#main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #002b36;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.xmas-tree {
    position: relative;
    width: 500px;
    height: 590px;
    z-index: 2;
}

.star {
    z-index: 2;
    position: absolute;
    color: #fffc00;
    font-size: 40px;
    text-shadow: 0 0 20px #fffc00;
    left: 50%;
    top: 15%;
    margin-left: -22px;
    animation: spin 2s infinite linear forwards;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.t1 {
    position: absolute;
    z-index: 1;
    border-bottom: 100px solid #2bd937;
    margin-left: -100px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 20%;
    left: 50%;
}

.t2 {
    position: absolute;
    z-index: 0;
    border-bottom: 125px solid #26bd30;
    margin-left: -125px;
    border-left: 125px solid transparent;
    border-right: 125px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 27%;
    left: 50%;
}

.t3 {
    position: absolute;
    z-index: -1;
    border-bottom: 150px solid #1f9927;
    margin-left: -150px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    top: 34%;
    left: 50%;
}

.t1::before,
.t1::after,
.t2::before,
.t2::after,
.t3::before,
.t3::after {
    content: "";
    position: absolute;
    background: #d6d400;
    z-index: 3;
    width: 10px;
    height: 20px;
    border-radius: 50%;
    animation: blink 1.5s infinite;
}

.t2::before {
    animation-delay: 0.5s;
}

.t2::after {
    animation-delay: 0.5s;
}

.t3::before {
    animation-delay: 1s;
}

.t3::after {
    animation-delay: 1s;
}

@keyframes blink {
    30% {
        background: rgb(255, 255, 0);
        box-shadow: 0 0 20px 10px #fffc0059;
    }

    60% {
        background: #d6d400;
        box-shadow: 0 0 0px 0px #fffc0059;
    }
}

.t1::before {
    top: 77px;
    left: -82px;
}

.t1::after {
    top: 77px;
    left: 72px;
}

.t2::before {
    top: 99px;
    left: -102px;
}

.t2::after {
    top: 99px;
    left: 92px;
}

.t3::before {
    top: 119px;
    left: -122px;
}

.t3::after {
    top: 119px;
    left: 114px;
}

.stem {
    position: absolute;
    top: 53%;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 100px;
    z-index: -2;
    background: #694215;
}

.snow-ground {
    position: absolute;
    width: 120px;
    height: 30px;
    background: whitesmoke;
    top: 67%;
    left: 50%;
    margin-left: -60px;
    z-index: -3;
    border-radius: 50%;
}

.snow {
    position: absolute;
    top: -10px;
    background: lightblue;
    border-radius: 50%;
    animation: fall linear;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}
